::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: darkgray;
}
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.dark-mode {
    ::-webkit-scrollbar-thumb {
        background-color: gray !important;
    }
}